<a href="https://colab.research.google.com/github/Kommireddikrishnasuji/22MH1A42A3/blob/main/Exp2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
titanic_df=pd.read_csv('/content/titanic.CSV.csv')
print("loaded dataset:")
print(titanic_df.head())

loaded dataset:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [5]:
Y=titanic_df['Survived']
X=titanic_df.drop('Survived',axis=1)
print("\nDependent variable (y):")
print(Y.head())
print("\independent various (x):")
print(X.head())

Dependent variable (y):
0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64
\independent various (x):
   PassengerId  Pclass                                               Name  \
0            1       3                            Braund, Mr. Owen Harris
1            2       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2            3       3                             Heikkinen, Miss. Laina
3            4       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4            5       3                           Allen, Mr. William Henry

      Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
0    male  22.0      1      0         A/5 21171   7.2500   NaN        S
1  female  38.0      1      0          PC 17599  71.2833   C85        C
2  female  26.0      0      0  STON/O2. 3101282   7.9250   NaN        S
3  female  35.0      1      0            113803  53.1000  C123        S
4    male  35.0      0      0            373450   8.0500   NaN        S

In [6]:
missing_data=titanic_df.isnull().sum
print("\nMissing Data:")
print(missing_data)
titanic_df_cleaned=titanic_df.fillna(titanic_df.ffill())
print("\nCleaned Dataset:")
print(titanic_df_cleaned.head(10))

Missing Data:
<bound method NDFrame._add_numeric_operations.<locals>.sum of      PassengerId  Survived  Pclass   Name    Sex    Age  SibSp  Parch  Ticket  \
0          False     False   False  False  False  False  False  False   False
1          False     False   False  False  False  False  False  False   False
2          False     False   False  False  False  False  False  False   False
3          False     False   False  False  False  False  False  False   False
4          False     False   False  False  False  False  False  False   False
..           ...       ...     ...    ...    ...    ...    ...    ...     ...
886        False     False   False  False  False  False  False  False   False
887        False     False   False  False  False  False  False  False   False
888        False     False   False  False  False   True  False  False   False
889        False     False   False  False  False  False  False  False   False
890        False     False   False  False  False  False  False  False   False

      Fare  Cabin  Embarked
0    False   True     False
1    False  False     False
2    False   True     False
3    False  False     False
4    False   True     False
..     ...    ...       ...
886  False   True     False
887  False  False     False
888  False   True     False
889  False  False     False
890  False   True     False

[891 rows x 12 columns]>

Cleaned Dataset:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male  35.0      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   C85        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500  C123        S
5      0            330877   8.4583  C123        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   E46        S
8      2            347742  11.1333   E46        S
9      0            237736  30.0708   E46        C

In [10]:
import pandas as pd
import numpy as np
dataset=pd.read_csv("/content/age_salary_dataset .CSV.csv")
dataset

     Age   Salary
0   50.0  45056.0
1   36.0  72482.0
2   29.0  87716.0
3   42.0  48110.0
4   40.0  53773.0
..   ...      ...
95  58.0  57675.0
96  56.0  92733.0
97  43.0  84417.0
98  48.0  63938.0
99  56.0  63664.0

[100 rows x 2 columns]

     Age   Salary
0   50.0  45056.0
1   36.0  72482.0
2   29.0  87716.0
3   42.0  48110.0
4   40.0  53773.0
..   ...      ...
95  58.0  57675.0
96  56.0  92733.0
97  43.0  84417.0
98  48.0  63938.0
99  56.0  63664.0

[100 rows x 2 columns]

In [11]:
X=dataset.iloc[ :,:-1].values
Y=dataset.iloc[ :,-1].values
print('independent variable(X):',X)
print('dependent variable(Y):',Y)

independent variable(X): [[50.]
 [36.]
 [29.]
 [42.]
 [40.]
 [44.]
 [32.]
 [32.]
 [45.]
 [57.]
 [45.]
 [24.]
 [43.]
 [23.]
 [45.]
 [51.]
 [59.]
 [23.]
 [42.]
 [54.]
 [33.]
 [43.]
 [nan]
 [48.]
 [49.]
 [37.]
 [36.]
 [24.]
 [58.]
 [28.]
 [42.]
 [30.]
 [39.]
 [25.]
 [46.]
 [nan]
 [30.]
 [47.]
 [23.]
 [41.]
 [49.]
 [28.]
 [29.]
 [nan]
 [35.]
 [38.]
 [57.]
 [25.]
 [23.]
 [27.]
 [25.]
 [50.]
 [39.]
 [47.]
 [55.]
 [31.]
 [57.]
 [35.]
 [52.]
 [36.]
 [29.]
 [35.]
 [44.]
 [42.]
 [37.]
 [39.]
 [45.]
 [47.]
 [46.]
 [50.]
 [36.]
 [22.]
 [46.]
 [28.]
 [30.]
 [45.]
 [22.]
 [29.]
 [45.]
 [32.]
 [38.]
 [29.]
 [56.]
 [56.]
 [54.]
 [26.]
 [49.]
 [28.]
 [30.]
 [29.]
 [33.]
 [55.]
 [54.]
 [44.]
 [45.]
 [58.]
 [56.]
 [43.]
 [48.]
 [56.]]
dependent variable(Y): [45056. 72482. 87716. 48110. 53773. 67266. 92992. 57412. 96537. 73270.
 46910. 85453. 65446. 96090. 93640. 40206.    nan 62361. 96873. 63419.
 90636. 97010. 88702. 90015. 91942. 96560.    nan 94268. 85151. 62403.
 58141. 54820.    nan 46374. 96044. 41678. 92394. 93788. 73827. 95820.
 56198. 49914. 67890. 92309. 62299. 83585. 83689. 82557. 89080. 84020.
 42693. 69467. 69723. 86699. 43627. 65939. 88925. 82941. 61834. 58047.
 66105. 50230. 55707. 61976. 84262. 99581. 63776. 70080. 41306. 46776.
 67251. 95016. 49474. 80294. 98053. 61959. 45530. 69320. 93565. 43748.
 71968. 72562. 53545. 40663. 74766. 47994. 68021. 70303. 90647. 43304.
 92915. 94384. 91005. 86576. 79353. 57675. 92733. 84417. 63938. 63664.]

In [12]:
X_df=pd.DataFrame(X,columns=dataset.columns[ :-1])
Y_df=pd.DataFrame(Y,columns=[dataset.columns[ :-1]])
combined_data=pd.concat([X_df,Y_df],axis=1)
print("Combined data:")
print(combined_data)

Combined data:
     Age   (Age,)
0   50.0  45056.0
1   36.0  72482.0
2   29.0  87716.0
3   42.0  48110.0
4   40.0  53773.0
..   ...      ...
95  58.0  57675.0
96  56.0  92733.0
97  43.0  84417.0
98  48.0  63938.0
99  56.0  63664.0

[100 rows x 2 columns]

In [14]:
combined_df=pd.DataFrame(combined_data,columns=list(combined_data.columns))
combined_df.to_excel("/content/combined_data.xlsx",index=False)
print("combined DataFrame:")
print(combined_df.head())

combined DataFrame:
    Age   (Age,)
0  50.0  45056.0
1  36.0  72482.0
2  29.0  87716.0
3  42.0  48110.0
4  40.0  53773.0